.div--u-iu3ao0u81 {height: 100%;}
@media (max-width: 991px) {.link-block--u-ix473ah9i:hover .div--u-i4zl38naz {height: 8rem;}}
@media (max-width: 991px) {.link-block--u-ix473ah9i:hover .div--u-iu3ao0u81 {height: 8rem;}}
