.pop-up__overlay--u-i6fv00t0k {pointer-events: none; background-size: auto; background-image: none/*linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%)*/; background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll;}
.pop-up__content--u-irtmlzi57 {min-width: auto; min-height: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px;}
.pop-up__inside-close-button--u-iaaypetgb {display: none;}
.pop-up--u-i7f6dz3uw {width: 0vw; height: 0vw; margin-left: 0px; margin-right: 0px; left: -500px; right: 0px;}
