.div--u-ihf6pns21 {height: 100%;}
@media (max-width: 991px) {.div--u-izc8b942t {height: 140%;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-ihf6pns21 {height: 8rem;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-iee8dsdg6 {height: 8rem;}}
