.link--u-i7xrq5yqr {
      font-size: 20px;
      color: inherit;
      align-items: center;
    }

#izha0hjsr_0 .text--u-i1582uv2t,
    #izha0hjsr_0 .text--u-i2rg10eyw,
    #izha0hjsr_0 .text--u-i1mhsgnqt,
    #izha0hjsr_0 .text--u-iwme9idme,
    #izha0hjsr_0 .text--u-i16mwvcb3,
    #izha0hjsr_0 .text--u-i19y2m3ax,
    #izha0hjsr_0 .text--u-i3dtkhojv {
      font-size: 15px;
      color: rgb(76 72 72);
    }

.div--u-iouv2kg93 {
      width: 45%;
    }

.div--u-i21mi4ctq {
      width: 40%;
    }

@media screen and (max-width: 990px) {
      #i3mcc6o5d_0 {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 57rem;
        font-size: 75px;
      }

      #izha0hjsr_0 {
        margin: 50px 2rem;
      }

      #ibxld9bsn_0 {
        display: none;
      }

      #i3o2oijli_0 {
        padding-bottom: 0;
      }

      #iqbnkawzp_0 {
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 40px;
      }

      #i34ixbnqc_0 {
        display: none;
      }

      #i8ji17yy8_0 {
        left: 0;
      }

      #i1kz4wbnt_0 {
        left: -90px;
        width: 140%;
      }

      #i2d6zl9p7_0 {
        left: -15px;
        width: 120%;
      }

      #iktwcvuoi_0 {
        left: -50px;
        width: 140%;
      }

      #i53zayqyz_0 {
        left: -15px;
        width: 120%;
      }

      #i3bipw1j0_0 {
        left: -15px;
        width: 120%;
      }

      #i2l20i4rm_0 {
        left: 30px;
      }

      #i37qurovv_0 {
        width: 96.5%;
        margin: 0 2rem 90px;
        width: 95%;
      }

      .text--u-i3djaj0ji {
        font-size: 65%;
      }

      .text--u-i16r9cy88 {
        font-size: 65%;
      }

      .text--u-i1miwmltl {
        font-size: 65%;
      }

      .text--u-i28xlmeqv {
        font-size: 65%;
      }

      .text--u-i3d3v7s3y span {
        font-size: 14px !important;
        color: rgb(76 72 72);
      }

      .text--u-i1kd1ty6e span {
        font-size: 14px !important;
        color: rgb(76 72 72);
      }

      .text--u-i32ktzsvu span {
        font-size: 14px !important;
        color: rgb(76 72 72);
      }

      .text--u-i1u38itpw span {
        font-size: 14px !important;
        color: rgb(76 72 72);
      }
    }

@media screen and (max-width: 768px) {
      #i3mcc6o5d_0 {
        width: 64rem;
        font-size: 55px;
        line-height: 100%;
      }

      #izha0hjsr_0 .text--u-i1582uv2t,
      #izha0hjsr_0 .text--u-i2rg10eyw,
      #izha0hjsr_0 .text--u-i1mhsgnqt,
      #izha0hjsr_0 .text--u-iwme9idme,
      #izha0hjsr_0 .text--u-i16mwvcb3,
      #izha0hjsr_0 .text--u-i19y2m3ax,
      #izha0hjsr_0 .text--u-i3dtkhojv {
        font-size: 13px;
      }

      #isjdhlro3_0 .text,
      #i3riasif1_0 .text,
      #icqou662e_0 .text,
      #i26xwosgn_0 .text,
      #i9mkceq5o_0 .text,
      #i1oz3wac3_0 .text,
      #i2pvdrut3_0 .text {
        font-size: 13px;
      }
    }

@media screen and (max-width: 620px) {

      #i2g1bmbmy_0,
      #id00dqsc6_0,
      #i18mmqh8t_0,
      #i3ccg0tm2_0,
      #i2t8t8eic_0,
      #i38tnk45x_0,
      #i14zxzd78_0 {
        display: none;
      }

      #ixneg9w4w_0,
      #i8ey46hoe_0,
      #it4j5ak8s_0,
      #itukqq7wf_0,
      #invihn5d1_0,
      #ia4k486r5_0 {
        display: block;
        position: static;
      }

      #i92q5pj6x_0 {
        display: none;
      }

      #i8ji17yy8_0,
      #i2d6zl9p7_0,
      #i1kz4wbnt_0 {
        display: none;
      }

      #iftl49tos_0 {
        display: block;
        margin-top: 180px;
        position: relative;
        bottom: -70px;
        width: 80%;
      }

      #i4pia1rq0_0 {
        display: block;
        margin-top: 220px;
        bottom: -50px;
        right: -30px;
      }

      #ixgp34fsr_0 {
        display: block;
        margin-top: 250px;
        position: relative;
        bottom: -50px;
      }

      #i53zayqyz_0 {
        display: none;
      }

      #i0y8qdt09_0 {
        display: block;
        margin-top: 215px;
        position: relative;
        bottom: -50px;
        right: -40px;
        aspect-ratio: 200 / 200;
      }

      #i0y8qdt09_0 img {
        height: 155%;
      }

      #ixgp34fsr_0 img {
        height: 155%;
      }

      #iktwcvuoi_0 {
        display: none;
      }

      #ivrpmijc5_0 {
        display: block;
        margin-top: 245px;
        position: relative;
        bottom: -50px;
        right: -40px;
        aspect-ratio: 200 / 200;
      }

      #ivrpmijc5_0 img {
        height: 120%;
      }

      #i3bipw1j0_0 {
        display: none;
      }

      #iptxbgml5_0 {
        display: block;
        margin-top: 220px;
        position: relative;
        bottom: -40px;
        right: -40px;
        aspect-ratio: 200 / 200;
      }

      #iptxbgml5_0 img {
        height: 140%;
      }

      #i2l20i4rm_0 {
        display: none;
      }

      #io2o23bd5_0 {
        display: block;
        margin-top: 225px;
        position: relative;
        bottom: -40px;
        right: -40px;
        aspect-ratio: 230 / 200;
      }

      #i2ml3hbqf_0,
      #i2i81edh4_0,
      #i951eb75o_0,
      #ij4rq2soq_0,
      #i313dse51_0,
      #i3docadm4_0,
      #i3hyojvoh_0,
      #i35f0mhzu_0 {
        height: auto;
        padding: 16px;
      }

      .text-style-body {
        font-size: 13px;
      }

      .icon_component {
        width: 3rem;
        height: 3rem;
        min-width: 2rem;
        min-height: 2rem;
      }

      #i37qurovv_0 {
        margin: 0 2rem 50px;
      }

      #i37qurovv_0 .text-block-wrap-div br {
        display: block;
      }

      .text--u-i3djaj0ji {
        font-size: 90%;
      }

      .text--u-i16r9cy88 {
        font-size: 90%;
      }

      .text--u-i1miwmltl {
        font-size: 90%;
      }

      .text--u-i28xlmeqv {
        font-size: 90%;
      }
    }

@media screen and (max-width: 475px) {
      #izha0hjsr_0 {
        margin: 20px 1rem 50px;
      }

      #iftl49tos_0 {
        margin-top: -70px;
        width: 50%;
      }

      #i4pia1rq0_0 {
        margin-top: 0px;
        aspect-ratio: 180 / 85;
        width: 70%;
      }

      #ixgp34fsr_0 {
        margin-top: -250px;
        width: 100%;
        right: -145px;
        bottom: -225px;
      }

      #ivrpmijc5_0 {
        bottom: -60px;
        margin-top: -60px;
        right: -160px;
      }

      #i0y8qdt09_0 {
        bottom: -60px;
        margin-top: -60px;
        right: -110px;
      }

      #iptxbgml5_0 {
        bottom: -95px;
        margin-top: -135px;
        right: -160px;
      }

      #io2o23bd5_0 {
        bottom: -95px;
        margin-top: -135px;
        right: -160px;
      }

      #iptxbgml5_0 img {
        height: 100%;
      }

      #i0y8qdt09_0 img {
        height: 100%;
      }

      #ivrpmijc5_0 img {
        height: 100%;
      }

      #ixgp34fsr_0 img {
        height: 100%;
      }

      .div--u-i29gphyzf {
        flex-direction: column;
        margin-top: 110px;
      }

      #i37qurovv_0 {
        margin: 0 1rem 30px;
      }

      .text--u-i3djaj0ji span {
        font-size: 24px !important;
      }

      .text--u-i16r9cy88 span {
        font-size: 24px !important;
      }

      .text--u-i1miwmltl span {
        font-size: 24px !important;
      }

      .text--u-i28xlmeqv span {
        font-size: 24px !important;
      }

      #i29gphyzf_0 .card-wrapper.border-radius {
        width: 100%;
      }

      #i29gphyzf_0 .card-wrapper.border-radius div {
        width: 100%;
      }

      #im85k6h67_0 {
        width: 100%;
      }

      #i29gphyzf_0 .card-mask.border-radius div {
        max-width: 100% !important;
      }

      #i84rv77nz_0 {
        display: flex;
        justify-content: end;
      }

      #i84rv77nz_0 svg {
        width: 24px;
        height: 24px;
      }

      #i1a3034y1_0 {
        width: 100%;
      }

      #i1fsrs21r_0 {
        display: flex;
        justify-content: end;
      }

      #i1fsrs21r_0 svg {
        width: 24px;
        height: 24px;
      }
    }
