

@media screen and (max-width: 620px) {

      .text-style-body {
        font-size: 13px;
      }

      .icon_component {
        width: 3rem;
        height: 3rem;
        min-width: 2rem;
        min-height: 2rem;
      }
    }
