

  

  /* Для старых браузеров (можно объединить) */
  [form-white-theme] .form_input::-webkit-input-placeholder {
    /* Chrome/Safari/Opera */
    color: var(--color-black) !important;
  }

  [form-white-theme] .form_input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--color-black) !important;
    opacity: 1;
  }

  [form-white-theme] .form_input:-ms-input-placeholder {
    /* IE 10-11 */
    color: var(--color-black) !important;
  }

  [form-white-theme] .form_input:-moz-placeholder {
    /* Firefox 18- */
    color: var(--color-black) !important;
    opacity: 1;
  }

  [form-white-theme] .text-color-white-opacity {
    color: var(--color-dark-grey);
    opacity: 1;
  }

  [form-white-theme] .form_checkbox {
    border: 1px solid var(--color-brand);
  }

  [form-white-theme] .form__widget-item:has(:checked) .form_checkbox {
    background-color: var(--color-brand);
    background-image: url(/d/check-box-white.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    border-color: var(--color-brand);
  }

  [form-white-theme] .button-large_component .background-white {
    background-color: var(--color-light-grey);
  }

  [form-white-theme] .heading-style-h4 {
    color: var(--color-dark-grey);
  }

  [form-white-theme] {
    background-color: var(--color-white);
  }

  [form-white-theme] [checkbox] span span {
    color: var(--color-brand) !important;
  }

  [form-white-theme] .form_input {
    border-color: var(--color-grey);
  }

  [form-white-theme] .layer-center img {
    display: none;
  }

  .text-color-white-opacity {
    color: var(--color-white-opacity);
  }

  .text-color-error {
    color: var(--color-error);
  } */

  /* Rich-text */
  /* Reset */
  /* Для отступов между параграфами двойной пробел в редакторе */

  [rich-text] ul li {
    margin-left: 2rem;
  }

  [rich-text] p,
  [rich-text] ul,
  [rich-text] ol,
  [rich-text] h2,
  [rich-text] h3,
  [rich-text] h4,
  [rich-text] h5,
  [rich-text] h6,
  [rich-text] figure {
    margin: 0;
  }

  /* Links */
  [rich-text] a {
    color: var(--color-brand);
    text-decoration: none;
  }

  /* Media */
  [rich-text] figure {
    /* width: 100%;
    height: auto; */
    overflow: hidden;
    border-radius: 0.3rem;
  }

  @media screen and (max-width: 991px) {
    [rich-text] figure {
      border-radius: 0.2rem;
    }
  }

  /* Lists */
  [rich-text] ol,
  [rich-text] ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem 1.4rem;
    flex-wrap: wrap;
  }

  [rich-text] ol li {
    margin-left: 2rem;
  }

  @media screen and (max-width: 479px) {

    [rich-text] ol,
    [rich-text] ul {
      gap: 0.3rem;
    }
  }

  /* Indents */
  [rich-text] figure+p,
  [rich-text] p:not(:first-child),
  [rich-text] h2:not(:first-child),
  [rich-text] h3:not(:first-child),
  [rich-text] h4:not(:first-child),
  [rich-text] h5:not(:first-child),
  [rich-text] h6:not(:first-child),
  [rich-text] ul:not(:first-child),
  [rich-text] figure:not(:first-child) {
    margin-top: 4rem;
  }

  [rich-text="about"] p:not(:first-child),
  [rich-text="about"] ul:not(:first-child){
    margin-top: 2rem;
  }

  @media screen and (max-width: 479px) {

    [rich-text] figure+p,
    [rich-text] p:not(:first-child),
    [rich-text] h2:not(:first-child),
    [rich-text] h3:not(:first-child),
    [rich-text] h4:not(:first-child),
    [rich-text] h5:not(:first-child),
    [rich-text] h6:not(:first-child),
    [rich-text] ol:not(:first-child),
    [rich-text] ul:not(:first-child),
    [rich-text] figure:not(:first-child) {
      margin-top: 3rem;
    }

    [rich-text="about"] p:not(:first-child),
    [rich-text="about"] ul:not(:first-child){
      margin-top: 1.5rem;
    }
  }

  /* Headings */
  [rich-text] h2,
  [rich-text] h3,
  [rich-text] h4,
  [rich-text] h5,
  [rich-text] h6 {
    color: var(--color-black);
    font-weight: 500;
  }
  [rich-text] h2+p,
  [rich-text] h3+p,
  [rich-text] h4+p,
  [rich-text] h5+p,
  [rich-text] h6+p,
  [rich-text] h2+ul,
  [rich-text] h3+ul,
  [rich-text] h4+ul,
  [rich-text] h5+ul,
  [rich-text] h6+ul,
  [rich-text] h2+ol,
  [rich-text] h3+ol,
  [rich-text] h4+ol,
  [rich-text] h5+ol,
  [rich-text] p+ol,
  [rich-text] h6+ol {
    margin-top: 1.5rem !important;
  }

  [rich-text] figure+p {
    margin-top: 4rem !important;
  }

  @media screen and (max-width: 991px) {
    [rich-text] figure+p {
      margin-top: 4rem !important;
    }
  }

  @media screen and (max-width: 479px) {
    [rich-text] figure+p {
      margin-top: 2rem !important;
    }

    [rich-text="equipment-techs"] .equipment-page_tech-line-wrapper {
      display: none;
    }
  }

  /* [rich-text="description"] p + p {
    margin: 0;
  } */

  /* Swiper global */
  .swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
  }

  .equipment-page_slider_thumb {
    opacity: var(--opacity);
  }

  .equipment-page_slider_thumb.active {
    opacity: 1;
  }

  /* [equipment-slider="thumbs"] {
    max-width: 100%;
    overflow: hidden;
  } */

  /* [equipment-slider="thumbs"] .swiper-slide {
    width: auto !important;
  } */

  /* Menu light theme */
  .header-light-theme .header_component {
    color: var(--color-black);
  }

  .header-light-theme .header_component {
    background-color: var(--color-light-grey);
  }

  .header-light-theme .logo_img {
    background-color: var(--color-brand);
    color: var(--color-white);
  }

  .header-light-theme [button-medium="blur"] {
    background-color: var(--color-white);
  }

  @media screen and (min-width: 1366px) {

    .production_video-card .icon_full svg,
    .logo_img .icon_full svg,
    .logo_text-svg svg {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 991px) {

    .grid-3--is-news-page .collection__item:nth-child(3){
      display: none;
    }
  }

  /* Embed imgs */
  .layer-center picture,
  .layer-center picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* Form */
  .form__state-success div,
  .form__state-error div,
  .form__state-success span,
  .form__state-error span {
    font-weight: inherit;
    font-size: inherit;
    /* color: inherit; */
  }

  .form__field-error {
    color: var(--color-error) !important;
  }

  /* Close buttons icon hover */
  [role="button"][modal-close-trigger]:hover .icon_component {
    transform: rotate(180deg);
  }

  /* Loading animation */
  .page-wrapper {
    /* animation: loading 500ms ease-in-out 1s forwards; */
    animation: loading var(--animation-duration-short) var(--animation-timing-function) forwards;
  }

  @keyframes loading {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Iphone  */
  .background-blur {
    -webkit-backdrop-filter: blur(1rem);
  }

  .size-full-screen {
    height: 100svh;
  }

  /* Display */
  @media screen and (max-width: 479px) {
    .hide-on-mobile {
      display: none !important;
    }
  }

  /* About page */
  .about-page_about-var .button-large_component {
    display: none;
  }

  .button-large_component .layer-center {
    width: 101%;
  }

  .production_video-card iframe {
    width: 100%;
    height: 100%;
  }


/* --- extracted style #7 --- */
@keyframes running-text {
        0% {
          transform: translateX(0px);
        }

        100% {
          transform: translateX(-1718px);
        }
      }

      @keyframes running-textMob {
        0% {
          transform: translateX(0px);
        }

        100% {
          transform: translateX(-1096px);
        }
      }


/* --- extracted style #8 --- */
[gsap-text-scroll-animation] {
      display: block;
    }

    .line-wrapper {
      display: block;
      overflow: hidden;
      height: auto;
    }

    .line-mask {
      overflow: hidden;
      height: 0;
    }

    .text-line {
      margin: 0;
      padding: 0;
      display: block;
      white-space: nowrap;
    }

    .heading-style-h1 .text-line,
    .heading-style-h2 .text-line {
      margin-top: 0.5rem;
    }

    .heading-style-h4 .text-line {
      margin-top: 0.2rem;
    }


/* --- extracted style #9 --- */
.card-wrapper {
      overflow: hidden;
      position: relative;
      width: auto;
    }

    .card-mask {
      overflow: hidden;
      height: 0;
      width: auto;
      will-change: height;
    }

    [gsap-elements-scroll-animation] {
      /* display: block; */
      /* width: 100%; */
      box-sizing: border-box;
    }


/* --- extracted style #11 --- */
.section-header {
      transform: translateY(0);
    }

    .section-header.is-hidden {
      transform: translateY(-100%);
    }

    .section-header.is-visible {
      transform: translateY(0);
    }


/* --- extracted style #14 --- */
/* Headings */
    [cover-title] {
      display: block;
    }

    [cover-title] .title-text-line {
      margin-top: 0.5rem;
    }


/* --- extracted style #15 --- */
/* Убедитесь, что нет пустых пространств */
    .collection__item>* {
      pointer-events: auto;
    }


/* --- extracted style #16 --- */
@media screen and (min-width: 992px) {
      [equipments-slider="container"] {
        width: 100%;
        overflow: hidden;
        position: relative;
      }

      [equipments-slider="container"] .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }

      [equipments-slider="container"] .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


/* --- extracted style #17 --- */
body {
  margin: 0;
  padding: 0;
}

.link,
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  outline: none;
}


/* --- extracted style #18 --- */
/* Vars */

html {
  scrollbar-gutter: stable;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.31vw;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    z-index: 10;
  }

  /*Отступы*/
  ::-webkit-scrollbar-button {
    display: none;
    background: var(--color-medium-grey);
  }

  /*Скролл кнопка*/
  ::-webkit-scrollbar-thumb {
    background: var(--color-brand);
    border-radius: 0.1rem;
  }

  /*Цвет фоновой полосы*/
  ::-webkit-scrollbar-track {
    background: var(--color-medium-grey);
  }

  ::-webkit-scrollbar-corner {
    background: var(--color-medium-grey);
  }

  ::-webkit-resizer {
    background: var(--color-medium-grey);
  }
}

html.overflow-hidden {
  overflow: hidden;
  /* overflow-x: clip;
    overflow-y: clip; */
}

/* Base font-sizes */
html {
  font-size: 0.733vw;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 1.31vw;
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: 2.79vw;
  }
}

/* Text render */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible{
  outline: 0.1rem solid #e0305b;
  outline-offset: 0.1rem;
}

/* Set color style to inherit */
.color-inherit * {
  color: inherit;
}

/* Transitions */
/* [rolling-link] .hover-text,
  [rolling-link] span, */
.opacity,
.section-header,
[components-collection="descriptions"] .collection__item,
[rich-text] a,
.equipment-page_slider_thumb,
[equipment-slider="thumbs"] .swiper-slide,
.link-text-grey__hover,
.icon_component,
.link_component,
.news-card_component,
.heading-style-h5,
.button-large_component,
.button-iconic_component,
.background-brand,
.background-white,
.background-light-grey,
.background-blur,
.text-style-body,
.icon_component {
  transition: all var(--animation-duration-medium) var(--animation-timing-function);
}

.menu_component{
  transition: all var(--animation-duration-long) var(--animation-timing-function);
}

/* Fix taptop bug */
.text-color-grey {
  color: var(--color-dark-grey) !important;
}
.menu-equipment-card_component:hover .text-style-body {
  opacity: var(--opacity);
}

/* Icons */

.services-card_component svg,
.icon-card_component svg,
.icon_component svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px) {

  /* Production video-card */
  .production_video-card:hover .button-iconic_rounded {
    color: var(--color-white);
    background-color: var(--color-brand);
  }

  /* Services mobile */
  .services-card_component:hover .link_component {
    opacity: var(--opacity);
  }

  /* Header */
  /* .header-light-theme [button-medium="blur"]:hover {
      background-color: var(--color-grey);
    } */
  .header-light-theme [button-medium="blur"] .background-white {
    background-color: var(--color-grey);
  }

  /* Text links */
  .link-text-grey__hover:hover {
    /* Fix bug */
    color: var(--color-black) !important;
  }

  /* Nav links */
  .link_component:hover{
    opacity: var(--opacity);
  }

  /* Rich text */
  [rich-text] a:hover {
    opacity: var(--opacity);
  }

  /* Button icon */
  .droplist_trigger:hover .button-iconic_component,
  .button-iconic_component:not([button-iconic-hover-animation]):hover {
    color: var(--color-white);
    background-color: var(--color-brand);
  }

  /* Old */
  /* [button-medium="blur"]:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    } */
  [button-iconic-hover-animation]:hover .button-iconic__top{
    height: 5.2rem;
    width: 100%;
  }

  [button-iconic-hover-animation]:hover .background-light-grey {
    background-color: var(--color-light-grey);
  }

  [button-iconic-hover-animation]:hover .opacity,
  [button-medium="blur"]:hover .opacity {
    opacity: 1;
  }

  [button-medium="white"]:hover {
    background-color: var(--color-light-grey);
  }

  [button-large="blur"]:hover {
    color: var(--color-black);
  }

  .button-large_component:hover .background-white {
    background-color: var(--color-light-grey);
  }

  /* Light grey buttons background fix */
  /* [button-large="light"] добавляется атрибуту */
  [button-large="light-alt-hover"]:hover .background-white,
  [button-medium="light-alt-hover"]:hover,
  [button-medium="light-alt-hover"]:hover .background-white {
    background-color: var(--color-white);
  }

  .button-large_component:hover .background-brand {
    background-color: var(--color-brand-hover);
  }

  .button-large_component:hover .background-blur {
    background-color: var(--color-white);
  }

  .collection__item.z-index {
    z-index: 10;
  }
}

/* Form */
textarea {
  resize: none;
}

.form__widget-item:has(:checked) .form_checkbox {
  background-color: var(--color-white);
  background-image: url(/d/check-box.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-color: var(--color-white);
}

/* White theme */
[form-white-theme] .heading-style-h2,
[form-white-theme] .form_component {
  color: var(--color-black);
}

.form_input::placeholder {
  color: var(--color-white);
}

[form-white-theme] .form_input {
  border-color: var(--color-grey);
  color: var(--color-black) !important;
}

[form-white-theme] .form_input::placeholder {
  color: var(--color-black) !important;
  opacity: 1;
}

/* Для старых браузеров (можно объединить) */
[form-white-theme] .form_input::-webkit-input-placeholder {
  /* Chrome/Safari/Opera */
  color: var(--color-black) !important;
}

[form-white-theme] .form_input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-black) !important;
  opacity: 1;
}

[form-white-theme] .form_input:-ms-input-placeholder {
  /* IE 10-11 */
  color: var(--color-black) !important;
}

[form-white-theme] .form_input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-black) !important;
  opacity: 1;
}

[form-white-theme] .text-color-white-opacity {
  color: var(--color-dark-grey);
  opacity: 1;
}

[form-white-theme] .form_checkbox {
  border: 1px solid var(--color-brand);
}

[form-white-theme] .form__widget-item:has(:checked) .form_checkbox {
  background-color: var(--color-brand);
  background-image: url(/d/check-box-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-color: var(--color-brand);
}

[form-white-theme] .button-large_component .background-white {
  background-color: var(--color-light-grey);
}

[form-white-theme] .heading-style-h4 {
  color: var(--color-dark-grey);
}

[form-white-theme] {
  background-color: var(--color-white);
}

[form-white-theme] [checkbox] span span {
  color: var(--color-brand) !important;
}

[form-white-theme] .form_input {
  border-color: var(--color-grey);
}

[form-white-theme] .layer-center img {
  display: none;
}

.text-color-white-opacity {
  color: var(--color-white-opacity);
}

.text-color-error {
  color: var(--color-error);
}

/* Rich-text */
/* Reset */
/* Для отступов между параграфами двойной пробел в редакторе */

[rich-text] ul li {
  margin-left: 2rem;
}

[rich-text] p,
[rich-text] ul,
[rich-text] ol,
[rich-text] h2,
[rich-text] h3,
[rich-text] h4,
[rich-text] h5,
[rich-text] h6,
[rich-text] figure {
  margin: 0;
}

/* Links */
[rich-text] a {
  color: var(--color-brand);
  text-decoration: none;
}

/* Media */
[rich-text] figure {
  /* width: 100%;
    height: auto; */
  overflow: hidden;
  border-radius: 0.3rem;
}

@media screen and (max-width: 991px) {
  [rich-text] figure {
    border-radius: 0.2rem;
  }
}

/* Lists */
[rich-text] ol,
[rich-text] ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem 1.4rem;
  flex-wrap: wrap;
}

[rich-text] ol li {
  margin-left: 2rem;
}

@media screen and (max-width: 479px) {

  [rich-text] ol,
  [rich-text] ul {
    gap: 0.3rem;
  }
}

/* Indents */
[rich-text] figure+p,
[rich-text] p:not(:first-child),
[rich-text] h2:not(:first-child),
[rich-text] h3:not(:first-child),
[rich-text] h4:not(:first-child),
[rich-text] h5:not(:first-child),
[rich-text] h6:not(:first-child),
[rich-text] ul:not(:first-child),
[rich-text] figure:not(:first-child) {
  margin-top: 4rem;
}

[rich-text="about"] p:not(:first-child),
[rich-text="about"] ul:not(:first-child){
  margin-top: 2rem;
}

@media screen and (max-width: 479px) {

  [rich-text] figure+p,
  [rich-text] p:not(:first-child),
  [rich-text] h2:not(:first-child),
  [rich-text] h3:not(:first-child),
  [rich-text] h4:not(:first-child),
  [rich-text] h5:not(:first-child),
  [rich-text] h6:not(:first-child),
  [rich-text] ol:not(:first-child),
  [rich-text] ul:not(:first-child),
  [rich-text] figure:not(:first-child) {
    margin-top: 3rem;
  }

  [rich-text="about"] p:not(:first-child),
  [rich-text="about"] ul:not(:first-child){
    margin-top: 1.5rem;
  }
}

/* Headings */
[rich-text] h2,
[rich-text] h3,
[rich-text] h4,
[rich-text] h5,
[rich-text] h6 {
  color: var(--color-black);
  font-weight: 500;
}
[rich-text] h2+p,
[rich-text] h3+p,
[rich-text] h4+p,
[rich-text] h5+p,
[rich-text] h6+p,
[rich-text] h2+ul,
[rich-text] h3+ul,
[rich-text] h4+ul,
[rich-text] h5+ul,
[rich-text] h6+ul,
[rich-text] h2+ol,
[rich-text] h3+ol,
[rich-text] h4+ol,
[rich-text] h5+ol,
[rich-text] p+ol,
[rich-text] h6+ol {
  margin-top: 1.5rem !important;
}

[rich-text] figure+p {
  margin-top: 4rem !important;
}

@media screen and (max-width: 991px) {
  [rich-text] figure+p {
    margin-top: 4rem !important;
  }
}

@media screen and (max-width: 479px) {
  [rich-text] figure+p {
    margin-top: 2rem !important;
  }

  [rich-text="equipment-techs"] .equipment-page_tech-line-wrapper {
    display: none;
  }
}

/* [rich-text="description"] p + p {
    margin: 0;
  } */

/* Swiper global */
.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.equipment-page_slider_thumb {
  opacity: var(--opacity);
}

.equipment-page_slider_thumb.active {
  opacity: 1;
}

/* [equipment-slider="thumbs"] {
    max-width: 100%;
    overflow: hidden;
  } */

/* [equipment-slider="thumbs"] .swiper-slide {
    width: auto !important;
  } */

/* Menu light theme */
.header-light-theme .header_component {
  color: var(--color-black);
}

.header-light-theme .header_component {
  background-color: var(--color-light-grey);
}

.header-light-theme .logo_img {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.header-light-theme [button-medium="blur"] {
  background-color: var(--color-white);
}

@media screen and (min-width: 1366px) {

  .production_video-card .icon_full svg,
  .logo_img .icon_full svg,
  .logo_text-svg svg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {

  .grid-3--is-news-page .collection__item:nth-child(3){
    display: none;
  }
}

/* Embed imgs */
.layer-center picture,
.layer-center picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Form */
.form__state-success div,
.form__state-error div,
.form__state-success span,
.form__state-error span {
  font-weight: inherit;
  font-size: inherit;
  /* color: inherit; */
}

.form__field-error {
  color: var(--color-error) !important;
}

/* Close buttons icon hover */
[role="button"][modal-close-trigger]:hover .icon_component {
  transform: rotate(180deg);
}

/* Loading animation */
.page-wrapper {
  /* animation: loading 500ms ease-in-out 1s forwards; */
  animation: loading var(--animation-duration-short) var(--animation-timing-function) forwards;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Iphone  */
.background-blur {
  -webkit-backdrop-filter: blur(1rem);
}

.size-full-screen {
  height: 100svh;
}

/* Display */
@media screen and (max-width: 479px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* About page */
.about-page_about-var .button-large_component {
  display: none;
}

.button-large_component .layer-center {
  width: 101%;
}

.production_video-card iframe {
  width: 100%;
  height: 100%;
}

    @media screen and (max-width: 1200px) {
      .header_gap-large {
        column-gap: 3rem;
      }
    }

    @media screen and (max-width: 620px) {

      .text-style-body {
        font-size: 13px;
      }

      .icon_component {
        width: 3rem;
        height: 3rem;
        min-width: 2rem;
        min-height: 2rem;
      }
    }
