@media screen and (not (max-width: 991px)) {.div--u-iunsh8m2b {transform: translate3D(0px, 23%, 0px);}}
@media screen and (not (max-width: 991px)) {.div--u-izfi6odmg {transform: translate3D(0px, 23%, 0px);}}
.div--u-ilzpox96w {grid-column-start: span 3; grid-column-end: span 3;}
.text--u-ilv3qk1pz {grid-column-start: span 3; grid-column-end: span 3;}
.div--u-i3hlwajxp {grid-column-start: 3; grid-column-end: 4; grid-row-start: 2; grid-row-end: 2;}
.text--u-im53yu5rc {grid-column-start: span 3; grid-column-end: span 3;}
.div--u-i1ue6b5y8 {margin-top: 11rem;}
.div--u-id2d94quu {margin-top: 11rem;}
@media (max-width: 991px) {.div--u-ilzpox96w {grid-row-start: 1; grid-row-end: 1; grid-column-start: 2; grid-column-end: 4;}}
@media (max-width: 991px) {.div--u-i3hlwajxp {grid-column-start: 2;}}
@media (max-width: 991px) {.div--u-iunsh8m2b {margin-top: 0rem; grid-row-start: 1; grid-row-end: 1; grid-column-start: 3; grid-column-end: 4;}}
@media (max-width: 991px) {.div--u-i1ue6b5y8 {margin-top: -8rem; grid-row-start: 2; grid-row-end: 3; grid-column-start: 2; grid-column-end: 3;}}
@media (max-width: 991px) {.div--u-izfi6odmg {margin-top: -8rem; grid-row-start: 2; grid-row-end: 3; grid-column-start: 3; grid-column-end: 4;}}
@media (max-width: 991px) {.div--u-id2d94quu {margin-top: 0rem; grid-row-start: 1; grid-row-end: 2; grid-column-start: 2; grid-column-end: 3;}}
@media (max-width: 479px) {.div--u-ilzpox96w {margin-top: -1.5rem;}}
@media (max-width: 479px) {.div--u-iunsh8m2b {margin-top: -6rem;}}
@media (max-width: 479px) {.div--u-i1ue6b5y8 {margin-top: -6rem;}}
@media (max-width: 479px) {.div--u-izfi6odmg {margin-top: -6rem;}}
