/* Vars */
:root {
  --color-brand: #1d27bb;
  --color-brand-hover: #1a23a8;
  --color-light-grey: #f7f7f7;
  --color-grey: #dddddd;
  --color-dark-grey: #888888;
  --color-medium-grey: #ececec;
  --color-white: #ffffff;
  --color-black: #010101;
  --color-error: #e0305b;
  --color-white-opacity: rgba(255, 255, 255, 0.5);
  --opacity: 0.65;
  --animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  --animation-duration-short: 200ms;
  --animation-duration-medium: 400ms;
  --animation-duration-long: 800ms;
}

html {
  scrollbar-gutter: stable;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.31vw;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    z-index: 10;
  }

  /*Отступы*/
  ::-webkit-scrollbar-button {
    display: none;
    background: var(--color-medium-grey);
  }

  /*Скролл кнопка*/
  ::-webkit-scrollbar-thumb {
    background: var(--color-brand);
    border-radius: 0.1rem;
  }

  /*Цвет фоновой полосы*/
  ::-webkit-scrollbar-track {
    background: var(--color-medium-grey);
  }

  ::-webkit-scrollbar-corner {
    background: var(--color-medium-grey);
  }

  ::-webkit-resizer {
    background: var(--color-medium-grey);
  }
}

html.overflow-hidden {
  overflow: hidden;
  /* overflow-x: clip;
    overflow-y: clip; */
}

/* Base font-sizes */
html {
  font-size: 0.733vw;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 1.31vw;
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: 2.79vw;
  }
}

/* Text render */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 0.1rem solid #e0305b;
  outline-offset: 0.1rem;
}

/* Set color style to inherit */
.color-inherit * {
  color: inherit;
}

.cookie_overlay {
  display: none;
}

/* Transitions */
/* [rolling-link] .hover-text,
  [rolling-link] span, */
.opacity,
                        .button-medium__top,
                        .section-header,
                        [components-collection="descriptions"] .collection__item,
                        /* .modal_icon img,
  .modal_close,
  .modal_component,
  .modal_wrapper,
  .modal_content,
  .modal_background, */
                        /* .menu_component, */
                        .form_checkbox,
                        [rich-text] a,
                        .equipment-page_slider_thumb,
                        [equipment-slider="thumbs"] .swiper-slide,
                        .link-text-black__hover,
                        .link-text-white__hover,
                        .link-text-grey__hover,
                        .icon_component,
                        .link_component,
                        .news-card_component,
                        .heading-style-h5,
                        .components-card_img-wrapper,
                        .button-medium_component,
                        .button-large_component,
                        .button-iconic_component,
                        .background-brand,
                        .background-white,
                        .background-light-grey,
                        .background-blur,
                        .button-large_wrapper,
                        .text-style-body,
                        .icon_component {
  transition: all var(--animation-duration-medium)
    var(--animation-timing-function);
}

.menu_component,
.modal_icon img,
.modal_close,
.modal_component,
.modal_wrapper,
.modal_content,
.modal_background,
.droplist_content {
  transition: all var(--animation-duration-long)
    var(--animation-timing-function);
}

/* Fix taptop bug */
.text-color-grey {
  color: var(--color-dark-grey) !important;
}

/* .text-color-brand {
    color: var(--color-brand) !important;
  } */
@media screen and (max-width: 479px) {
  .components-card_img-wrapper {
    padding: 0;
  }
}

/* Testimonails slider current pagination */
.swiper-pagination-current {
  color: var(--color-black);
}

/* News cards */
.text-eclipse {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Components card*/
.components-card_img-wrapper {
  height: 0rem;
}

/* Menu */
.modal-info_component .services_card_component:hover .heading-style-h5,
.menu-equipment-card_component:hover .text-style-body {
  opacity: var(--opacity);
}

@media screen and (max-width: 991px) {
  .menu_scroll-zone-wrapper {
    height: calc(100% - (7.85rem + 7.02rem));
  }
}

@media screen and (max-width: 479px) {
  .menu_scroll-zone-wrapper {
    height: calc(100% - (7rem + 3.26rem));
  }
}

/* Icons */

.services-card_component svg,
.icon-card_component svg,
.icon_component svg {
  width: 100%;
  height: 100%;
}

/* Fix cascade */
@media screen and (max-width: 479px) {
  /* News cards */
  /* .components-card_img-wrapper {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    } */
  .button--rounded {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 992px) {
  /* Production video-card */
  .production_video-card:hover .button-iconic_rounded {
    color: var(--color-white);
    background-color: var(--color-brand);
  }

  /* Services mobile */
  .services-card_component:hover .link_component {
    opacity: var(--opacity);
  }

  .modal_wrapper .services-card_component:hover .heading-style-h5:nth-child(1) {
    opacity: var(--opacity);
  }

  .modal_wrapper {
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Header */
  /* .header-light-theme [button-medium="blur"]:hover {
      background-color: var(--color-grey);
    } */
  .header-light-theme [button-medium="blur"] .background-white {
    background-color: var(--color-grey);
  }

  /* Footer */
  .link-text-black__hover:hover {
    opacity: var(--opacity);
  }

  /* Text links */
  .link-text-grey__hover:hover {
    /* Fix bug */
    color: var(--color-black) !important;
  }

  /* Nav links */
  .link_component:hover,
  .link-text-white__hover:hover {
    opacity: var(--opacity);
  }

  [rolling-link]:hover {
    opacity: 1;
  }

  /* News cards */
  .news-card_component:hover,
  .news-card_component:hover a {
    background-color: var(--color-grey);
  }

  /* Rich text */
  [rich-text] a:hover {
    opacity: var(--opacity);
  }

  /* Button icon */
  .droplist_trigger:hover .button-iconic_component,
  .button-iconic_component:not([button-iconic-hover-animation]):hover {
    color: var(--color-white);
    background-color: var(--color-brand);
  }

  .button-large_component:hover .button-large_wrapper {
    height: 4.91rem;
  }

  .button-large_component:hover .icon_button-large {
    transform: translateY(0.3rem);
    /* min-height: 2rem;
      height: 2rem; */
  }

  /* Old */
  /* [button-medium="blur"]:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    } */
  [button-iconic-hover-animation]:hover .button-iconic__top,
  [button-medium="blur"]:hover .button-medium__top {
    height: 5.2rem;
    width: 100%;
  }

  [button-iconic-hover-animation]:hover .background-light-grey {
    background-color: var(--color-light-grey);
  }

  [button-iconic-hover-animation]:hover .opacity,
  [button-medium="blur"]:hover .opacity {
    opacity: 1;
  }

  [button-medium="white"]:hover {
    background-color: var(--color-light-grey);
  }

  [button-large="blur"]:hover {
    color: var(--color-black);
  }

  .button-large_component:hover .background-white {
    background-color: var(--color-light-grey);
  }

  /* Light grey buttons background fix */
  /* [button-large="light"] добавляется атрибуту */
  [button-large="light-alt-hover"]:hover .background-white,
  [button-medium="light-alt-hover"]:hover,
  [button-medium="light-alt-hover"]:hover .background-white {
    background-color: var(--color-white);
  }

  .button-large_component:hover .background-brand {
    background-color: var(--color-brand-hover);
  }

  .button-large_component:hover .background-blur {
    background-color: var(--color-white);
  }

  /*Components card*/
  .is-hover {
    height: 28.2rem;
  }

  /* .components-card_component:hover .components-card_img-wrapper {
      animation: components-card-img var(--animation-duration-medium) var(--animation-timing-function) var(--animation-duration-short)
        forwards;
    }

    @keyframes components-card-img {
      to {
        height: 28.2rem;
      }
    } */

  .components-card_component:hover {
    background-color: var(--color-brand);
  }

  .collection__item.z-index {
    z-index: 10;
  }

  .components-card_component:hover .heading-style-h5 {
    /* Fix bug important */
    color: var(--color-white) !important;
  }
}

/* Form */
textarea {
  resize: none;
}

.form__widget-item:has(:checked) .form_checkbox {
  background-color: var(--color-white);
  background-image: url(/d/check-box.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-color: var(--color-white);
}

/* White theme */
[form-white-theme] .heading-style-h2,
[form-white-theme] .form_component {
  color: var(--color-black);
}

.form_input::placeholder {
  color: var(--color-white);
}

[form-white-theme] .form_input {
  border-color: var(--color-grey);
  color: var(--color-black) !important;
}

[form-white-theme] .form_input::placeholder {
  color: var(--color-black) !important;
  opacity: 1;
}

/* Для старых браузеров (можно объединить) */
[form-white-theme] .form_input::-webkit-input-placeholder {
  /* Chrome/Safari/Opera */
  color: var(--color-black) !important;
}

[form-white-theme] .form_input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-black) !important;
  opacity: 1;
}

[form-white-theme] .form_input:-ms-input-placeholder {
  /* IE 10-11 */
  color: var(--color-black) !important;
}

[form-white-theme] .form_input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-black) !important;
  opacity: 1;
}

[form-white-theme] .text-color-white-opacity {
  color: var(--color-dark-grey);
  opacity: 1;
}

[form-white-theme] .form_checkbox {
  border: 1px solid var(--color-brand);
}

[form-white-theme] .form__widget-item:has(:checked) .form_checkbox {
  background-color: var(--color-brand);
  background-image: url(/d/check-box-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-color: var(--color-brand);
}

[form-white-theme] .button-large_component .background-white {
  background-color: var(--color-light-grey);
}

[form-white-theme] .heading-style-h4 {
  color: var(--color-dark-grey);
}

[form-white-theme] {
  background-color: var(--color-white);
}

[form-white-theme] [checkbox] span span {
  color: var(--color-brand) !important;
}

[form-white-theme] .form_input {
  border-color: var(--color-grey);
}

.section-form .grid-4--decor {
  opacity: 0;
}

[form-decor] .section-form .grid-4--decor {
  opacity: 1;
}

[form-white-theme] .layer-center img {
  display: none;
}

.text-color-white-opacity {
  color: var(--color-white-opacity);
}

.text-color-error {
  color: var(--color-error);
}

/* Rich-text */
/* Reset */
/* Для отступов между параграфами двойной пробел в редакторе */

[rich-text] ul li {
  margin-left: 2rem;
}

[rich-text] p,
[rich-text] ul,
[rich-text] ol,
[rich-text] h2,
[rich-text] h3,
[rich-text] h4,
[rich-text] h5,
[rich-text] h6,
[rich-text] figure {
  margin: 0;
}

[rich-text="article"] {
  width: 100%;
}

@media screen and (min-width: 992px) {
  [rich-text="article"] p,
  [rich-text="article"] ul,
  [rich-text="article"] h2,
  [rich-text="article"] h3,
  [rich-text="article"] h4,
  [rich-text="article"] h5,
  [rich-text="article"] h6 {
    max-width: 42.5rem;
  }
}

/* Links */
[rich-text] a {
  color: var(--color-brand);
  text-decoration: none;
}

/* Media */
[rich-text] figure {
  /* width: 100%;
    height: auto; */
  overflow: hidden;
  border-radius: 0.3rem;
}

@media screen and (max-width: 991px) {
  [rich-text] figure {
    border-radius: 0.2rem;
  }
}

/* Lists */
[rich-text] ol,
[rich-text] ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem 1.4rem;
  flex-wrap: wrap;
}

[rich-text] ol li {
  margin-left: 2rem;
}

[rich-text="list-row"] ul {
  flex-direction: row;
}

[rich-text="list-row"] ul p {
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  [rich-text="list-row"] ul {
    flex-direction: column;
  }

  [rich-text="list-row"] ul p {
    white-space: wrap;
  }
}

@media screen and (max-width: 479px) {
  [rich-text] ol,
  [rich-text] ul {
    gap: 0.3rem;
  }
}

/* Indents */
[rich-text] figure + p,
[rich-text] p:not(:first-child),
[rich-text] h2:not(:first-child),
[rich-text] h3:not(:first-child),
[rich-text] h4:not(:first-child),
[rich-text] h5:not(:first-child),
[rich-text] h6:not(:first-child),
[rich-text] ul:not(:first-child),
[rich-text] figure:not(:first-child) {
  margin-top: 4rem;
}

[rich-text="about"] p:not(:first-child),
[rich-text="about"] ul:not(:first-child),
[rich-text="components"] p:not(:first-child),
[rich-text="components"] ul:not(:first-child),
[rich-text="equipment"] p:not(:first-child),
[rich-text="equipment"] ul:not(:first-child),
[rich-text="services"] p:not(:first-child),
[rich-text="services"] ul:not(:first-child) {
  margin-top: 2rem;
}

@media screen and (max-width: 479px) {
  [rich-text] figure + p,
  [rich-text] p:not(:first-child),
  [rich-text] h2:not(:first-child),
  [rich-text] h3:not(:first-child),
  [rich-text] h4:not(:first-child),
  [rich-text] h5:not(:first-child),
  [rich-text] h6:not(:first-child),
  [rich-text] ol:not(:first-child),
  [rich-text] ul:not(:first-child),
  [rich-text] figure:not(:first-child) {
    margin-top: 3rem;
  }

  [rich-text="about"] p:not(:first-child),
  [rich-text="about"] ul:not(:first-child),
  [rich-text="components"] p:not(:first-child),
  [rich-text="components"] ul:not(:first-child),
  [rich-text="equipment"] p:not(:first-child),
  [rich-text="equipment"] ul:not(:first-child),
  [rich-text="services"] p:not(:first-child),
  [rich-text="services"] ul:not(:first-child) {
    margin-top: 1.5rem;
  }
}

/* Headings */
[rich-text] h2,
[rich-text] h3,
[rich-text] h4,
[rich-text] h5,
[rich-text] h6 {
  color: var(--color-black);
  font-weight: 500;
}

/* Headings + Paragraphs/Ul */

[rich-text="description"] p ~ p,
[rich-text="article"] p ~ p,
[rich-text] h2 + p,
[rich-text] h3 + p,
[rich-text] h4 + p,
[rich-text] h5 + p,
[rich-text] h6 + p,
[rich-text] h2 + ul,
[rich-text] h3 + ul,
[rich-text] h4 + ul,
[rich-text] h5 + ul,
[rich-text] h6 + ul,
[rich-text] h2 + ol,
[rich-text] h3 + ol,
[rich-text] h4 + ol,
[rich-text] h5 + ol,
[rich-text] p + ol,
[rich-text] h6 + ol {
  margin-top: 1.5rem !important;
}

/* Techs */
/* .equipment-page_tech_component */
[rich-text="equipment-techs"] ul {
  max-width: 59.7rem;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 !important;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: nowrap;
  align-items: baseline;
}

[rich-text="equipment-techs"] div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Text */
[rich-text="equipment-techs"] ul li {
  overflow-wrap: normal;
  white-space: nowrap;
  margin: 0 !important;
}

[rich-text="equipment-techs"] ul li:last-child {
  text-align: right;
}

/* Line */
/* [rich-text="equipment-techs"] li:first-child::after {
    clear: both;
    content: "";
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(221, 221, 221, 1);
    height: 0.43rem;
    min-width: 0.5rem;
  } */
/* [rich-text="equipment-techs"] ul {
    column-gap: 3rem;
  } */
/* [rich-text="equipment-techs"] ul li:last-child p {
    white-space: nowrap;
  } */
@media (max-width: 991px) {
  [rich-text="equipment-techs"] div {
    row-gap: 0.5rem;
  }

  [rich-text="equipment-techs"] ul {
    max-width: none;
  }
}

@media (max-width: 479px) {
  [rich-text="equipment-techs"] div {
    row-gap: 1.3rem;
  }

  [rich-text="equipment-techs"] ul {
    padding-bottom: 1.3rem;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: flex-start;
  }

  [rich-text="equipment-techs"] ul:last-child {
    border-bottom-width: 0px;
  }

  [rich-text="equipment-techs"] ul li {
    overflow-wrap: break-word;
    white-space: normal;
  }

  /* [rich-text="equipment-techs"] li:first-child::after {
      display: none;
    } */
}

[rich-text="list-row"] ul ~ p,
[rich-text="equipment-techs"] ul ~ p {
  display: none;
}

/* Article */
[rich-text="article"] h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
}

[rich-text="article"] h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 130%;
}

[rich-text="footnotes"] ul {
  list-style: none;
}

[rich-text="footnotes"] ul li {
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  [rich-text="article"] h3 {
    font-size: 1.8rem !important;
  }

  [rich-text="article"] h4 {
    font-size: 1.4rem !important;
  }
}

@media screen and (max-width: 479px) {
  [rich-text="article"] h3 {
    font-size: 1.6rem !important;
  }

  [rich-text="article"] h4 {
    font-size: 1.2rem !important;
  }
}

[rich-text] figure + p {
  margin-top: 4rem !important;
}

[rich-text="services"] figure + p {
  margin-top: 2rem !important;
}

@media screen and (max-width: 991px) {
  [rich-text] figure + p {
    margin-top: 4rem !important;
  }
}

@media screen and (max-width: 479px) {
  [rich-text] figure + p {
    margin-top: 2rem !important;
  }

  [rich-text="equipment-techs"] .equipment-page_tech-line-wrapper {
    display: none;
  }
}

/* [rich-text="description"] p + p {
    margin: 0;
  } */

/* Swiper global */
.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.equipment-page_slider_thumb {
  opacity: var(--opacity);
}

.equipment-page_slider_thumb.active {
  opacity: 1;
}

/* [equipment-slider="thumbs"] {
    max-width: 100%;
    overflow: hidden;
  } */

/* [equipment-slider="thumbs"] .swiper-slide {
    width: auto !important;
  } */

/* Menu light theme */
.header-light-theme .header_component {
  color: var(--color-black);
}

.header-light-theme .header_component {
  background-color: var(--color-light-grey);
}

.header-light-theme .logo_img {
  background-color: var(--color-brand);
  color: var(--color-white);
}

.header-light-theme [button-medium="blur"] {
  background-color: var(--color-white);
}

@media screen and (min-width: 1366px) {
  .production_video-card .icon_full svg,
  .logo_img .icon_full svg,
  .logo_text-svg svg {
    width: 100%;
    height: 100%;
  }
}

/* Modal */
[modal="close-trigger"] {
  cursor: pointer;
}

/* News grid layout */
@media screen and (min-width: 992px) {
  .grid-4--is-news .news-card_component:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    height: 64.4rem;
  }

  .grid-4--is-news .news-card_component:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
    /* height: 35.5rem; */
  }

  .grid-4--is-news .news-card_component:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    /* height: 35.5rem; */
  }
}

@media screen and (max-width: 991px) {
  .grid-3--is-news-page .collection__item:nth-child(3),
  .grid-4--is-news .collection__item:nth-child(3) {
    display: none;
  }
}

/* Embed imgs */
.layer-center picture,
.layer-center picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Наведение на карточки компонентов */
.components-card_component:hover + .components-card_description {
  opacity: 1;
}

.equipment-page_tech_component:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* Modal */
.modal_component {
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 991px) {
  .modal_component {
    overflow-y: hidden;
  }
}

[modal-close-trigger] {
  cursor: pointer;
}

/* Form */
.form__state-success div,
.form__state-error div,
.form__state-success span,
.form__state-error span {
  font-weight: inherit;
  font-size: inherit;
  /* color: inherit; */
}

.form__field-error {
  color: var(--color-error) !important;
}

/* How to buy page */
.section-how-to-buy-is-page .section-how-to-buy_padding {
  padding-top: calc(8.21rem + 4.5rem);
}

@media screen and (max-width: 991px) {
  .section-how-to-buy-is-page .section-how-to-buy_padding {
    padding-top: calc(7.85rem + 2rem);
  }
}

@media screen and (max-width: 479px) {
  .section-how-to-buy-is-page .section-how-to-buy_padding {
    padding-top: calc(7.81rem + 2rem);
  }
}

/* Menu links hover */
[rolling-link] {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

[rolling-link] .text-wrapper {
  display: inline-block;
  position: relative;
}

[rolling-link] span {
  display: block;
}

[rolling-link] .hover-text {
  position: absolute;
  left: 0;
  top: 0;
}

/* Close buttons icon hover */
[role="button"][modal-close-trigger]:hover .icon_component {
  transform: rotate(180deg);
}

/* Loading animation */
.page-wrapper {
  /* animation: loading 500ms ease-in-out 1s forwards; */
  animation: loading var(--animation-duration-short)
    var(--animation-timing-function) forwards;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Iphone  */
.background-blur {
  -webkit-backdrop-filter: blur(1rem);
}

.size-full-screen {
  height: 100svh;
}

/* Display */
@media screen and (max-width: 479px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* Cookie */
.pop-up__content {
  border: none;
  box-shadow: none;
}

/* About page */
.about-page_about-var .button-large_component {
  display: none;
}

[components-collection="main"]
  .collection__item:last-child
  .components-card_component {
  border-bottom: none;
}

.button-large_component .layer-center {
  width: 101%;
}

.production_video-card iframe {
  width: 100%;
  height: 100%;
}

/* Показать первые 9 */
/* Скрываем элементы начиная с 7-го */
/* [components-collection="main"] .collection__item:nth-child(n+7) {
    display: none;
}

[components-collection="main"] .collection__item:not(:nth-child(n+7)):last-of-type .components-card_component {
    border-bottom: none;
} */

.page-cover_component video {
  object-fit: cover;
}

.clients-card_img img {
  margin: auto;
  width: 70%;
}
