.heading-style-h1 {font-family: "BebasNeue", sans-serif; font-size: 9.2rem; line-height: 85%; letter-spacing: -0.02em; font-style: normal;}
.heading-style-h2 {font-family: "BebasNeue", sans-serif; font-size: 8rem; line-height: 90%; letter-spacing: -0.02em;}
.heading-style-h4 {font-family: "BebasNeue", sans-serif; font-size: 2.6rem; line-height: 85%; letter-spacing: -0.02em;}
.heading-style-h3 {font-size: 3.4rem; line-height: 120%; font-weight: 500;}
.heading-style-h5 {font-weight: 500; font-size: 2rem; line-height: 110%;}
.text-style-body {font-size: 1.4rem; font-weight: 400;}
.text-color-brand {color: var(--color-brand);}
.text-color-grey {color: rgba(136, 136, 136, 1);}
.text-color-error {color: rgba(224, 48, 91, 1);}
.border-radius {border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem; border-bottom-left-radius: 0.3rem; border-bottom-right-radius: 0.3rem; overflow-x: hidden; overflow-y: hidden;}
.heading-style-h6 {font-weight: 500; font-size: 1.4rem; line-height: 110%; text-transform: uppercase;}
.absolute {position: absolute; z-index: auto;}
.layer-center {top: 0px; right: 0px; bottom: 0px; left: 0px; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; position: absolute;}
.sticky {position: sticky; top: 0px;}
.space-between {justify-content: space-between;}
.flex-direction-vertical {flex-direction: column; display: flex; align-items: flex-start;}
.page-wrapper {font-family: 'Inter Tight'; font-weight: 500; color: rgba(1, 1, 1, 1); background-color: rgb(247, 247, 247); overflow-x: clip; overflow-y: clip;}
.line_horizontal {height: 1px; background-color: rgb(221, 221, 221);}
.pointer-events-none {pointer-events: none;}
.layer-left {top: 0px; right: auto; bottom: 0px; left: 0px; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; position: absolute; width: auto; display: flex; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; align-items: center; min-height: auto;}
.logo_img {height: 4rem; width: 4rem; min-width: 4rem; min-height: 4rem;}
.logo_text {height: 4rem; min-height: 4rem; justify-content: center; align-items: center;}
.mobile {display: none;}
.grid-4 {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; column-gap: 2rem; grid-template-rows: auto;}
.grid-3 {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto;}
.grid-2 {display: grid; grid-template-columns: 1fr 1fr; column-gap: 2rem; row-gap: 2rem;}
.background-blur {background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(1rem);}
.border-all {border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(221, 221, 221, 1); border-left-color: rgba(221, 221, 221, 1); border-right-color: rgba(221, 221, 221, 1); border-bottom-color: rgba(221, 221, 221, 1);}
.border-top {border-top-width: 1px; border-top-style: solid; border-top-color: rgba(221, 221, 221, 1);}
.button-large_component {max-width: 25rem;}
.background-brand {background-color: #31572C;}
.background-white {background-color: rgb(255, 255, 255);}
.background-light-grey {background-color: rgb(247, 247, 247);}
.button-iconic_component {width: 5rem; position: relative; height: 5rem; min-width: 5rem; min-height: 5rem; z-index: 100;}
.button-iconic_rounded {border-top-left-radius: 100rem; border-top-right-radius: 100rem; border-bottom-left-radius: 100rem; border-bottom-right-radius: 100rem; width: 4rem; min-width: 4rem; height: 4rem; min-height: 4rem;}
.flex-direction-horizontal {display: flex;}
.link-iconic_gap {column-gap: 0.2rem;}
.icon_full {width: 100%; height: 100%; min-height: auto;}
.icon_component {width: 2.4rem; height: 2.4rem; min-height: 2.4rem; min-width: 2.4rem;}
.logo_text-svg {height: 100%; min-height: 100%;}
.logo_gap {column-gap: 1rem;}
.size-full-percentage {height: 100%; width: 100%;}
.size-full-screen {height: 100dvh; width: 100%;}
.size-height-full {height: 100%; width: 100%;}
.size-width-auto {width: auto;}
.size-width-full {width: 100%;}
.flex-justify-left {align-items: flex-start;}
.padding-global {padding-left: 2.5rem; padding-right: 2.5rem;}
.production_video-card {position: relative; width: 30rem; height: 17.4rem;}
.equipment_card_spacer__show-mobile {display: none;}
.header_pading {padding-top: 1.5rem; padding-bottom: 1.5rem;}
.hedaer_gap-small {column-gap: 0.5rem;}
.header_gap-large {column-gap: 4rem;}
.menu_component {position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 999;}
.footer_component {overflow-x: hidden; overflow-y: hidden;}
.footer_gap-medium {row-gap: 4rem;}
.footer_gap-small {row-gap: 1.5rem; column-gap: 3rem;}
.footer_gap-xsmall {row-gap: 0.2rem;}
.footer_padding-medium {padding-top: 4rem; padding-bottom: 6rem;}
.footer_padding-small {padding-top: 1.5rem; padding-bottom: 1.5rem;}
.footer_gap-xxsmall {column-gap: 0.68rem;}
.form_gap-medium {column-gap: 0px; row-gap: 4rem;}
.form_grid {display: grid; grid-template-columns: 1fr 1fr 1fr; row-gap: 3rem; column-gap: 2rem;}
.text-color-black {color: rgba(1, 1, 1, 1);}
.text-color-white {color: rgba(255, 255, 255, 1);}
.form_input-group {margin-top: 0px; margin-bottom: 0px; row-gap: 1rem;}
.text-style-caption {font-size: 1.2rem; font-weight: 500;}
.form_input-label {margin-bottom: 0px;}
.form_input {padding-top: 0px; padding-bottom: 0.8rem; padding-left: 0px; padding-right: 0px; background-size: auto; background-image: none/*linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 100%)*/; background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-top-width: 0px; border-top-style: none; border-left-width: 0px; border-left-style: none; border-right-width: 0px; border-right-style: none; border-bottom-color: rgba(255, 255, 255, 0.1); height: 3rem;}
.text-color-white-opacity {color: rgba(255, 255, 255, 0.5);}
.form_input-error {margin-bottom: 0px; margin-top: -0.7rem; display: none;}
.form_checkbox-gap {column-gap: 1rem; row-gap: 1rem;}
.form_checkbox {height: 2.4rem; width: 2.4rem; border-top-color: rgba(255, 255, 255, 1); border-left-color: rgba(255, 255, 255, 1); border-right-color: rgba(255, 255, 255, 1); border-bottom-color: rgba(255, 255, 255, 1); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid;}
.equipment-page_title_gap {row-gap: 3rem;}
.equipment-page_tech-line-wrapper {height: 0.43rem; min-width: 0.5rem;}
.flex-align-bottom {align-items: flex-end;}
.slider-buttons_component {justify-content: flex-start;}
.equipment-page_slider_img-wrapper {height: 44.8rem;}
.layer-bottom {right: 0px; bottom: 0px; left: 0px; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; position: absolute;}
.equipment-page_slider_gap {row-gap: 1.5rem;}
.equipment-page_slider_thumb {height: 4.3rem; width: 4.3rem;}
.z-index-top {z-index: 100;}
.show-on-mobile {display: none;}
.show-on-desktop {display: flex;}
.flex-align-center {align-items: center;}
.heading-style-h1--is-page-cover {width: 94.6rem;}
.page-cover_gap-small {row-gap: 2rem; column-gap: 2rem;}
.page-cover_gap-xsmall {column-gap: 0.5rem;}
.page-cover_description-wrapper {width: 43rem;}
.gap-0 {column-gap: 0rem; row-gap: 0rem;}
.form_component {padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.equipment-page_thumbs {overflow-x: auto; overflow-y: auto;}
.equipment-page_thumbs-gap {column-gap: 0.5rem;}
.page-cover_component {padding-top: 8.21rem;}
.grid_col--padding-right {padding-right: 1.5rem;}
.benifits-card_gap {row-gap: 8rem;}
.benefits-card_component {height: 43rem; padding-left: 1px; padding-right: 1px;}
.section-full-screen {height: 100vh; max-height: 76.8rem; min-height: auto;}
.show-on-desktop--is-equipments-slider-buttons {height: 11.01rem; transform: translate3D(0px, 0.6rem, 0px);}
.heading-style-h2--is-services {width: 64.3rem;}
.section_services_cards-layout {row-gap: 2rem; column-gap: 0px;}
.grid-gap {column-gap: 2rem; row-gap: 2rem;}
.icon-card_component {height: 6rem; width: 6rem; min-height: 6rem; min-width: 6rem;}
.section-production {overflow-x: hidden; overflow-y: hidden;}
.section-form {background-size: cover; background-image: none/*url("/d/form-bg-laptop.webp")*/; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; min-height: 76.8rem;}
.section-form_padding {padding-top: 12rem; padding-bottom: 12rem;}
.section-cover {overflow-x: hidden; overflow-y: hidden;}
.section-about_gap-xlarge {row-gap: 10rem;}
.section-about_gap-large {row-gap: 4rem;}
.section-about_gap-medium {row-gap: 3rem;}
.section-about_gap-small {row-gap: 1.5rem;}
.section-production_padding {padding-top: 6rem; padding-bottom: 6rem;}
.section-production_gap-large {row-gap: 6rem;}
.section-production_gap-medium {row-gap: 4rem;}
.section-equipments_padding {padding-top: 6rem; padding-bottom: 6rem;}
.section-equipments_slider-wrapper {grid-column-start: span 3; grid-column-end: span 3;}
.equipments-card_component {column-gap: 2.5rem;}
.equipments-card_img {width: 55%;}
.equipments-card_spacer {height: 2.5rem; min-height: 2.5rem;}
.section-components_padding {padding-top: 6rem; padding-bottom: 6rem;}
.section-services_scroll-content {margin-top: 150vh;}
.services-card_component {height: 23.5rem; width: 100%; cursor: pointer;}
.services-card_gap {column-gap: 1.5rem;}
.section-header {z-index: 998; position: fixed; top: 0px;}
.section_title-gap {row-gap: 4rem;}
.section-news_padding {padding-top: 4rem; padding-bottom: 4rem;}
.news-card_component {position: relative;}
.page-cover--empty {height: 0rem;}
.news-card_component--catalog {height: 48.4rem;}
.sticky-padding {top: 2.5rem;}
.services-card_component--height-full {height: 100%;}
.grid-2--is-services-page {grid-template-rows: 1fr 1fr 1fr;}
.services-page_padding {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.section-services_gap-small {row-gap: 1.5rem;}
.form-white-theme {background-color: rgb(255, 255, 255);}
.link_component {align-items: center;}
.section-about_padding {padding-top: 11rem; padding-bottom: 11rem;}
.clip-content {overflow-x: clip; overflow-y: clip;}
.grid-4--is-equipments-layout {grid-template-rows: 1fr;}
.show-on-tablet {display: none;}
.grid-4--is-services-title {grid-template-rows: 1fr;}
.relative {position: relative;}
.grid-4--is-equipment {grid-template-rows: 100%;}
.equipments-card_img--is-main {width: 100%;}
.heading-style-h2--form {height: 15rem;}
.opacity {opacity: 0;}
.section-left-sticky {position: sticky; bottom: 2.5rem;}
.grid_col-padding-left {padding-left: 1.5rem;}
.grid_col-padding-horizontal {padding-left: 1.5rem; padding-right: 1.5rem;}
.padding-block-xlarge {padding-left: 3rem; padding-right: 3rem; padding-top: 3rem; padding-bottom: 3rem;}
.padding-block-large {padding-left: 2.5rem; padding-right: 2.5rem; padding-top: 2.5rem; padding-bottom: 2.5rem;}
.padding-block-medium {padding-left: 2rem; padding-right: 2rem; padding-top: 2rem; padding-bottom: 2rem;}
.padding-block-small {padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 1.5rem; padding-bottom: 1.5rem;}
.padding-block-large--is-equipment-title {padding-top: 3rem;}
.flex-center-all {display: flex; align-items: center; justify-content: center;}
.flex-center {justify-content: center;}
.hide {display: none;}
.button-iconic__bottom {height: 5.2rem; min-height: 5.2rem;}
.button-iconic__top {height: 0rem; flex-grow: 1; flex-shrink: 0; margin-left: auto; margin-right: auto;}
.overflow-hidden {overflow-x: hidden; overflow-y: hidden;}
.show-on-tablet-2 {display: none;}
@media (max-width: 991px) {.heading-style-h1 {font-size: 8.2rem;}}
@media (max-width: 991px) {.heading-style-h2 {font-size: 5.2rem;}}
@media (max-width: 991px) {.heading-style-h3 {font-size: 2.8rem;}}
@media (max-width: 991px) {.heading-style-h4 {font-size: 2.4rem;}}
@media (max-width: 991px) {.heading-style-h5 {font-size: 1.8rem;}}
@media (max-width: 991px) {.text-style-body {font-size: 1.4rem;}}
@media (max-width: 991px) {.border-radius {border-top-left-radius: 0.2rem; border-top-right-radius: 0.2rem; border-bottom-left-radius: 0.2rem; border-bottom-right-radius: 0.2rem;}}
@media (max-width: 991px) {.heading-style-h6 {font-size: 1.2rem;}}
@media (max-width: 991px) {.services_gap {row-gap: 2rem;}}
@media (max-width: 991px) {.mobile {display: block; width: auto;}}
@media (max-width: 991px) {.button-iconic_component {width: 4rem; height: 4rem; min-width: 4rem; min-height: 4rem;}}
@media (max-width: 991px) {.icon_component {width: 2rem; height: 2rem; min-width: 2rem; min-height: 2rem;}}
@media (max-width: 991px) {.padding-global {padding-left: 2rem; padding-right: 2rem;}}
@media (max-width: 991px) {.production_video-card {width: 100%; height: 30.5rem;}}
@media (max-width: 991px) {.equipment_card_spacer__show-mobile {display: block;}}
@media (max-width: 991px) {.menu_component {height: auto;}}
@media (max-width: 991px) {.footer_gap-small {row-gap: 0.8rem;}}
@media (max-width: 991px) {.footer_gap-medium {row-gap: 2.5rem;}}
@media (max-width: 991px) {.flex-direction-horizontal--is-footer {flex-direction: column;}}
@media (max-width: 991px) {.footer_gap-xsmall {row-gap: 0.3rem;}}
@media (max-width: 991px) {.footer_padding-medium {padding-top: 3rem; padding-bottom: 11rem;}}
@media (max-width: 991px) {.footer_padding-small {padding-top: 1rem; padding-bottom: 1rem;}}
@media (max-width: 991px) {.footer_gap-xxsmall {column-gap: 0.5rem;}}
@media (max-width: 991px) {.grid-4--is-footer {grid-template-columns: 1fr 1fr 1fr; row-gap: 4rem;}}
@media (max-width: 991px) {.text-style-caption {font-size: 1rem;}}
@media (max-width: 991px) {.form_input-error {margin-top: -0.5rem;}}
@media (max-width: 991px) {.form_input {padding-bottom: 0.5rem; height: 2.35rem;}}
@media (max-width: 991px) {.form_input-group {row-gap: 0.8rem;}}
@media (max-width: 991px) {.form_checkbox {width: 2rem; height: 2rem;}}
@media (max-width: 991px) {.equipment-page_title_gap {row-gap: 2rem;}}
@media (max-width: 991px) {.show-on-desktop {display: none;}}
@media (max-width: 991px) {.grid-2 {row-gap: 1.5rem; column-gap: 1.5rem;}}
@media (max-width: 991px) {.text-color-grey {color: rgba(136, 136, 136, 1);}}
@media (max-width: 991px) {.heading-style-h1--is-page-cover {width: 63rem;}}
@media (max-width: 991px) {.gap-0 {row-gap: 0rem; column-gap: 0rem;}}
@media (max-width: 991px) {.equipment-page_slider_thumb {width: 5rem; height: 5rem; min-width: 5rem; min-height: 5rem;}}
@media (max-width: 991px) {.equipment-page_slider_gap {row-gap: 1rem;}}
@media (max-width: 991px) {.page-cover_component {padding-top: 7.85rem;}}
@media (max-width: 991px) {.grid_col--padding-right {padding-right: 0rem;}}
@media (max-width: 991px) {.benifits-card_gap {row-gap: 3rem;}}
@media (max-width: 991px) {.benefits-card_component {height: 30rem; padding-left: 0px; padding-right: 0px;}}
@media (max-width: 991px) {.grid-4 {grid-template-columns: 1fr 1fr 1fr; column-gap: 1rem;}}
@media (max-width: 991px) {.text-max-width {width: 35.9rem;}}
@media (max-width: 991px) {.section-full-screen {max-height: none; height: auto; min-height: auto;}}
@media (max-width: 991px) {.grid-4--is-production {row-gap: 3rem;}}
@media (max-width: 991px) {.grid-4--is-equipments-layout {grid-template-columns: 1fr; row-gap: 4rem; column-gap: 0rem;}}
@media (max-width: 991px) {.flex-align-bottom--is-equipment-button {justify-content: flex-end;}}
@media (max-width: 991px) {.size-height-auto-tablet {height: auto;}}
@media (max-width: 991px) {.grid-2--3-col-tablet {grid-template-columns: 1fr 1fr 1fr;}}
@media (max-width: 991px) {.heading-style-h2--is-services {width: 42.2rem;}}
@media (max-width: 991px) {.text-color-grey-tablet {color: rgba(136, 136, 136, 1);}}
@media (max-width: 991px) {.section_services_cards-layout {row-gap: 1rem; column-gap: 1rem; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto;}}
@media (max-width: 991px) {.grid-gap {column-gap: 1rem; row-gap: 1rem;}}
@media (max-width: 991px) {.icon-card_component {width: 4rem; height: 4rem; min-width: 4rem; min-height: 4rem;}}
@media (max-width: 991px) {.section-form_padding {padding-top: 4.5rem; padding-bottom: 4.5rem;}}
@media (max-width: 991px) {.section-about_gap-xlarge {row-gap: 8rem;}}
@media (max-width: 991px) {.section-about_gap-large {row-gap: 3rem;}}
@media (max-width: 991px) {.section-production_padding {padding-top: 4rem; padding-bottom: 4rem;}}
@media (max-width: 991px) {.section-production_gap-large {justify-content: flex-start;}}
@media (max-width: 991px) {.section-production_gap-medium {row-gap: 3rem;}}
@media (max-width: 991px) {.section-equipments_padding {padding-top: 4rem; padding-bottom: 4rem;}}
@media (max-width: 991px) {.section-equipments_cards-flex {display: flex; flex-direction: column; row-gap: 1.5rem;}}
@media (max-width: 991px) {.equipments-card_component {column-gap: 0rem; height: 38.5rem;}}
@media (max-width: 991px) {.equipments-card_img-wrapper {justify-content: flex-end;}}
@media (max-width: 991px) {.equipments-card_spacer {height: 2rem; min-height: 2rem;}}
@media (max-width: 991px) {.section-components_padding {padding-top: 4rem; padding-bottom: 0rem;}}
@media (max-width: 991px) {.section-services_scroll-content {margin-top: 0vh; display: flex; flex-direction: column;}}
@media (max-width: 991px) {.section-services_sticky {height: 0px;}}
@media (max-width: 991px) {.flex-direction-vertical--is-services {flex-direction: row;}}
@media (max-width: 991px) {.services-card_component {height: 27.4rem;}}
@media (max-width: 991px) {.section_title-gap {row-gap: 2rem;}}
@media (max-width: 991px) {.section-news_padding {padding-top: 4rem; padding-bottom: 2rem;}}
@media (max-width: 991px) {.flex-direction-horizontal--is-equipment-page {flex-direction: column-reverse;}}
@media (max-width: 991px) {.equipment-page_slider_component {margin-bottom: 3rem;}}
@media (max-width: 991px) {.news-card_component--catalog {height: 41.2rem;}}
@media (max-width: 991px) {.sticky-padding {top: 0rem;}}
@media (max-width: 991px) {.grid-3--is-news-page {grid-template-columns: 1fr 1fr;}}
@media (max-width: 991px) {.services-page_padding {padding-top: 4rem; padding-bottom: 2.5rem;}}
@media (max-width: 991px) {.grid-2--is-services-page {row-gap: 1rem; column-gap: 1rem; height: auto;}}
@media (max-width: 991px) {.grid-4--is-services-layout {grid-template-columns: 1fr; row-gap: 4rem; column-gap: 0rem;}}
@media (max-width: 991px) {.services-card_component--height-full {height: auto;}}
@media (max-width: 991px) {.section-about_padding {padding-top: 4rem; padding-bottom: 4rem;}}
@media (max-width: 991px) {.size-height-full {grid-column-start: span 1; grid-column-end: span 1;}}
@media (max-width: 991px) {.show-on-tablet {display: flex;}}
@media (max-width: 991px) {.grid-4--is-services-title {grid-template-columns: 1fr; row-gap: 4rem; column-gap: 0rem; padding-bottom: 2rem;}}
@media (max-width: 991px) {.grid-4--is-equipment {grid-template-columns: 1fr;}}
@media (max-width: 991px) {.equipments-card_img {width: auto;}}
@media (max-width: 991px) {.heading-style-h2--form {height: 9.3rem;}}
@media (max-width: 991px) {.tablet-col-right {display: flex; justify-content: flex-end;}}
@media (max-width: 991px) {.section-left-sticky {justify-content: flex-end; bottom: 0rem; position: relative;}}
@media (max-width: 991px) {.size-full-screen {height: 100svh;}}
@media (max-width: 991px) {.hide-on-tablet {display: none;}}
@media (max-width: 991px) {.grid_col-padding-left {padding-left: 0rem;}}
@media (max-width: 991px) {.grid_col-padding-horizontal {padding-left: 0rem; padding-right: 0rem;}}
@media (max-width: 991px) {.padding-block-xlarge {padding-left: 2rem; padding-right: 2rem; padding-top: 2rem; padding-bottom: 2rem;}}
@media (max-width: 991px) {.padding-block-large {padding-left: 2rem; padding-right: 2rem; padding-top: 2rem; padding-bottom: 2rem;}}
@media (max-width: 991px) {.padding-block-large--is-equipment-title {padding-top: 3rem;}}
@media (max-width: 991px) {.padding-block-large--is-services-bottom {padding-top: 4rem;}}
@media (max-width: 991px) {.padding-block-large--is-services-top {padding-top: 4rem;}}
@media (max-width: 991px) {.equipment-page_slider_img-wrapper {height: 37rem;}}
@media (max-width: 991px) {.button-iconic__bottom {height: 4rem; min-height: 4rem;}}
@media (max-width: 991px) {.show-on-tablet-2 {display: flex;}}
@media (max-width: 767px) {.text-color-grey {color: rgba(136, 136, 136, 1);}}
@media (max-width: 767px) {.equipment-page_slider_component {margin-bottom: 0rem;}}
@media (max-width: 767px) {.section-left-sticky {position: relative;}}
@media (max-width: 479px) {.heading-style-h1 {font-size: 4.2rem;}}
@media (max-width: 479px) {.heading-style-h2 {font-size: 3.4rem;}}
@media (max-width: 479px) {.heading-style-h3 {font-size: 2.4rem;}}
@media (max-width: 479px) {.heading-style-h4 {font-size: 1.8rem;}}
@media (max-width: 479px) {.heading-style-h5 {font-size: 1.6rem;}}
@media (max-width: 479px) {.text-style-body {font-size: 1.2rem;}}
@media (max-width: 479px) {.heading-style-h6 {font-size: 1rem;}}
@media (max-width: 479px) {.services_gap {row-gap: 0rem;}}
@media (max-width: 479px) {.logo_img {width: 3rem; height: 3rem; min-height: 3rem; min-width: 3rem;}}
@media (max-width: 479px) {.logo_text {height: 3rem; min-height: 3rem;}}
@media (max-width: 479px) {.button-iconic_component {width: 3rem; height: 3rem; min-width: 3rem; min-height: 3rem;}}
@media (max-width: 479px) {.button-iconic_rounded {width: 4rem; height: 4rem; min-width: 4rem; min-height: 4rem;}}
@media (max-width: 479px) {.icon_component {width: 1.6rem; height: 1.6rem; min-width: 1.6rem; min-height: 1.6rem;}}
@media (max-width: 479px) {.padding-global {padding-left: 1.5rem; padding-right: 1.5rem;}}
@media (max-width: 479px) {.production_video-card {height: 20rem;}}
@media (max-width: 479px) {.footer_gap-medium {row-gap: 1.5rem;}}
@media (max-width: 479px) {.footer_gap-xsmall {row-gap: 0rem;}}
@media (max-width: 479px) {.footer_padding-medium {padding-top: 6rem; padding-bottom: 3rem;}}
@media (max-width: 479px) {.footer_padding-small {padding-top: 1.5rem; padding-bottom: 2rem;}}
@media (max-width: 479px) {.footer_gap-xxsmall {column-gap: 0.4rem;}}
@media (max-width: 479px) {.grid-4--is-footer {grid-template-columns: 1fr 1fr; row-gap: 5rem; column-gap: 1rem;}}
@media (max-width: 479px) {.grid-4--is-credit {row-gap: 0.8rem; grid-template-columns: 1fr;}}
@media (max-width: 479px) {.text-style-caption {font-size: 1rem;}}
@media (max-width: 479px) {.form_input-error {margin-top: -0.4rem;}}
@media (max-width: 479px) {.form_gap-medium {row-gap: 3rem;}}
@media (max-width: 479px) {.form_grid {flex-direction: column; grid-template-columns: 1fr; display: flex;}}
@media (max-width: 479px) {.form_input {height: 2.1rem;}}
@media (max-width: 479px) {.form_input-group {row-gap: 0.5rem;}}
@media (max-width: 479px) {.form_input--is-message {height: 5.6rem; align-items: flex-start;}}
@media (max-width: 479px) {.form_checkbox {width: 1.6rem; height: 1.6rem;}}
@media (max-width: 479px) {.equipment-page_tech-line-wrapper {display: none;}}
@media (max-width: 479px) {.show-on-mobile {display: block;}}
@media (max-width: 479px) {.hide-on-mobile {display: none;}}
@media (max-width: 479px) {.text-color-grey {color: rgba(136, 136, 136, 1);}}
@media (max-width: 479px) {.heading-style-h1--is-page-cover {width: 100%;}}
@media (max-width: 479px) {.page-cover_gap-small {row-gap: 1.5rem;}}
@media (max-width: 479px) {.page-cover_gap-xsmall {column-gap: 1rem;}}
@media (max-width: 479px) {.equipment-page_slider_thumb {width: 4rem; height: 4rem; min-width: 4rem; min-height: 4rem;}}
@media (max-width: 479px) {.equipment-page_thumbs-gap {justify-content: flex-start;}}
@media (max-width: 479px) {.page-cover_component {padding-top: 7.81rem;}}
@media (max-width: 479px) {.benifits-card_gap {row-gap: 2rem;}}
@media (max-width: 479px) {.grid-4 {display: flex; flex-direction: column;}}
@media (max-width: 479px) {.benefits-card_component {height: 23rem;}}
@media (max-width: 479px) {.text-max-width {width: 100%;}}
@media (max-width: 479px) {.text-color-grey-mobile {color: rgba(136, 136, 136, 1);}}
@media (max-width: 479px) {.grid-4--is-equipments-layout {row-gap: 2rem; display: grid; grid-template-columns: 1fr;}}
@media (max-width: 479px) {.heading-style-h2--is-services {width: 100%;}}
@media (max-width: 479px) {.section_services_cards-layout {display: flex;}}
@media (max-width: 479px) {.grid-gap {column-gap: 1rem; row-gap: 1rem;}}
@media (max-width: 479px) {.section-form_padding {padding-top: 6rem; padding-bottom: 3rem;}}
@media (max-width: 479px) {.section-about_gap-xlarge {row-gap: 4rem;}}
@media (max-width: 479px) {.section-about_gap-large {row-gap: 2.5rem;}}
@media (max-width: 479px) {.section-production_padding {padding-top: 5rem; padding-bottom: 3rem;}}
@media (max-width: 479px) {.section-production_gap-large {row-gap: 3rem;}}
@media (max-width: 479px) {.grid-4--is-production-title {row-gap: 1rem;}}
@media (max-width: 479px) {.section-equipments_padding {padding-top: 5rem; padding-bottom: 3rem;}}
@media (max-width: 479px) {.section-equipments_cards-flex {row-gap: 1rem;}}
@media (max-width: 479px) {.equipments-card_component {flex-direction: column; height: 45rem;}}
@media (max-width: 479px) {.equipments-card_img-wrapper {height: 100%;}}
@media (max-width: 479px) {.equipments-card_img {position: absolute; height: 100%;}}
@media (max-width: 479px) {.equipments-card_spacer {height: 1.5rem; min-height: 1.5rem;}}
@media (max-width: 479px) {.section-components_padding {padding-bottom: 4rem; padding-top: 5rem; padding-left: 0rem; padding-right: 0rem;}}
@media (max-width: 479px) {.services-card_component {height: 17rem;}}
@media (max-width: 479px) {.section-news_padding {padding-top: 5rem; padding-bottom: 1.5rem;}}
@media (max-width: 479px) {.news-card_component {display: flex;}}
@media (max-width: 479px) {.grid-2--3-col-tablet {grid-template-columns: 1fr;}}
@media (max-width: 479px) {.news-card_component--catalog {height: 27.2rem;}}
@media (max-width: 479px) {.grid-3--is-news-page {display: flex; flex-direction: column; row-gap: 1.5rem;}}
@media (max-width: 479px) {.services-page_padding {padding-bottom: 1.5rem; padding-top: 1.5rem; padding-left: 1.5rem; padding-right: 1.5rem;}}
@media (max-width: 479px) {.grid-2--is-services-page {row-gap: 1rem; column-gap: 1rem; display: flex; flex-direction: column;}}
@media (max-width: 479px) {.grid-4--is-services-layout {row-gap: 3rem; display: flex; grid-template-columns: 1fr;}}
@media (max-width: 479px) {.link_component {column-gap: 0.2rem;}}
@media (max-width: 479px) {.section-about_padding {padding-top: 4rem; padding-bottom: 1rem;}}
@media (max-width: 479px) {.grid-4--is-services-title {row-gap: 2rem; display: grid; grid-template-columns: 1fr;}}
@media (max-width: 479px) {.grid-4--is-equipment {flex-direction: column; display: flex;}}
@media (max-width: 479px) {.heading-style-h2--form {height: 6rem; width: 90%;}}
@media (max-width: 479px) {.padding-block-xlarge {padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 1.5rem; padding-bottom: 1.5rem;}}
@media (max-width: 479px) {.padding-block-large {padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 1.5rem; padding-bottom: 1.5rem;}}
@media (max-width: 479px) {.padding-block-medium {padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 1.5rem; padding-bottom: 1.5rem;}}
@media (max-width: 479px) {.padding-block-small {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1rem; padding-right: 1rem;}}
@media (max-width: 479px) {.padding-block-large--is-equipment-title {padding-top: 2.5rem;}}
@media (max-width: 479px) {.padding-block-large--is-services-bottom {padding-top: 5rem; padding-bottom: 3rem;}}
@media (max-width: 479px) {.padding-block-large--is-services-top {padding-top: 5rem; padding-bottom: 1rem;}}
@media (max-width: 479px) {.equipment-page_slider_img-wrapper {height: 30rem;}}
@media (max-width: 479px) {.button-iconic__bottom {height: 3rem; min-height: 3rem;}}
@media (max-width: 479px) {.show-on-tablet-2 {display: none;}}
