.div--u-i56ajgc84 {height: 100%;}
@media (max-width: 991px) {.div--u-i6x4cey4j {height: 140%;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-i0ako5ejy {height: 8rem;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-i56ajgc84 {height: 8rem;}}
