.div--u-i842ltx1p {height: 100%;}
@media (max-width: 991px) {.div--u-ir5pe7mwa {height: 140%;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-ic88qa96x {height: 8rem;}}
@media (max-width: 991px) {.link-block--u-ipfq5k1hb:hover .div--u-i842ltx1p {height: 8rem;}}
